<footer>
  <div class="container footer-flex">
    <div class="left-footer">
      <nav class="nav-bottom">
        <ul>
          <li><a href="/">Heroes</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
      <p>All images and information are from <a href="mobilelegends.com" target=_blank>Mobile Legends' Website</a> and art from <a href="https://www.artstation.com/lasso" target=_blank>Lasso</a></p>
    </div>
    <div class="right-footer">
      <p>Follow us on</p>
      <div class="social">
        <a href="#" target=_blank>
          <img src="/assets/gambar/index/fb.png" alt="">
        </a>
        <a href="#" target=_blank>
          <img src="/assets/gambar/index/fb.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
