<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">
<link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Raleway:700,800" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% if page.url contains '/guide/' %}
<link href="/assets/styles/select2.min.css" rel="stylesheet" />
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/scripts/main.js"></script>
{% if page.url contains '/hero/' %}
<script src="/assets/scripts/hero.js"></script>
{% endif %}
{% if page.url == '/' %}
<script src="/assets/scripts/index.js"></script>
{% endif %}
{% if page.url contains '/guide/' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/assets/scripts/guide_nav.js"></script>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% if page.url contains '/guide/' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/assets/scripts/guide_nav.js"></script>
{% endif %}
{% seo %}
