<!DOCTYPE html>
<html>
    <head>

        {% include head.html %}

    </head>
    <body>

      {% if page.url == '/' or page.url contains '/blog/' or page.url contains '/items/' %}
      {% include header_main.html %}
      {% elsif page.url contains '/hero/' %}
      {% include header_hero.html %}
      {% else %}
      {% include header_other.html %}
      {% endif %}


      {{ content }}

      {% include footer.html %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/assets/scripts/main.js"></script>
      {% if page.url contains '/hero/' %}
      <script src="/assets/scripts/hero.js"></script>
      {% endif %}
      {% if page.url == '/' %}
      <script src="/assets/scripts/index.js"></script>
      {% endif %}
      {% if page.url contains '/guide/' %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      <script src="/assets/scripts/guide_nav.js"></script>
      <script>
      $("#hero-guide-nav").change(function(){
          document.location.href = $(this).val();
      });
      </script>
      {% endif %}
      <script>
      $(document).ready(function(){
          $('.fa-bars').on('click', function(e){
              e.preventDefault();
              $('.nav-top ul').slideToggle();
          });
      });
      </script>
      <!-- Netlify CMS Script -->
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    </body>
</html>
